* {
  color: white;
}
body {
  background-color: black;
}
.wrapper {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  margin: 50vh auto;
  height: 160px;
}
.section {
  width: 30%;
  display: inline-block;
  background-color: rebeccapurple;
  border-radius: 8px;
  position: absolute;
  height: 150px;
  margin: 5px;
  overflow: hidden;
}
h1,
p {
  padding-left: 40px;
  padding-top: 10px;
  font-size: large;
}
img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.sales {
  position: absolute;
  left: 10px;
  background: rgb(221, 190, 173);
  background: linear-gradient(
    90deg,
    rgba(221, 190, 173, 1) 24%,
    rgba(222, 104, 104, 1) 53%,
    rgba(238, 181, 181, 1) 100%
  );
}

.orders {
  position: absolute;
  left: 34%;
  background: rgb(123, 198, 240);
  background: linear-gradient(
    90deg,
    rgba(123, 198, 240, 1) 7%,
    rgba(80, 178, 233, 1) 31%,
    rgba(23, 131, 191, 1) 59%,
    rgba(23, 131, 191, 1) 86%
  );
}
.visitors {
  position: absolute;
  right: 10px;
  background: rgb(199, 233, 80);
  background: linear-gradient(
    90deg,
    rgba(199, 233, 80, 1) 9%,
    rgba(199, 233, 80, 1) 28%,
    rgba(151, 217, 96, 1) 54%,
    rgba(84, 195, 118, 1) 79%
  );
}
.round_pink_2::after {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;

  position: absolute;
  right: -25px;
  bottom: -70px;
  background: rgb(233, 183, 184);
  background: linear-gradient(
    90deg,
    rgba(233, 183, 184, 0) 0%,
    rgba(241, 202, 203, 1) 18%,
    rgba(242, 178, 180, 1) 29%,
    rgba(235, 163, 165, 1) 36%,
    rgba(219, 130, 133, 1) 54%,
    rgba(219, 130, 133, 1) 68%,
    rgba(221, 63, 69, 1) 100%
  );
}
.round_pink_1::before {
  content: "";
  width: 160px;
  height: 160px;

  border-radius: 50%;
  /* border: 1px solid rebeccapurple; */
  position: absolute;
  right: -80px;
  top: -10px;
  background: rgb(233, 183, 184);
  background: linear-gradient(
    90deg,
    rgba(233, 183, 184, 1) 0%,
    rgba(241, 202, 203, 1) 18%,
    rgba(242, 178, 180, 1) 29%,
    rgba(235, 163, 165, 1) 36%,
    rgba(219, 130, 133, 1) 54%,
    rgba(219, 130, 133, 1) 68%,
    rgba(221, 63, 69, 1) 100%
  );
}

.round_blue_1::before {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* border: 1px solid rebeccapurple; */
  position: absolute;
  right: -80px;
  top: -10px;
  background: rgb(63, 191, 221);
  background: linear-gradient(
    90deg,
    rgba(63, 191, 221, 1) 0%,
    rgba(32, 128, 221, 1) 40%,
    rgba(13, 70, 135, 1) 69%,
    rgba(12, 59, 152, 1) 100%,
    rgba(12, 56, 157, 1) 100%
  );
}

.round_blue_2::after {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;

  position: absolute;
  right: -25px;
  bottom: -70px;
  background: rgb(63, 191, 221);
  background: linear-gradient(
    90deg,
    rgba(63, 191, 221, 1) 0%,
    rgba(32, 128, 221, 1) 40%,
    rgba(13, 70, 135, 1) 69%,
    rgba(12, 59, 152, 1) 100%,
    rgba(12, 56, 157, 1) 100%
  );
}

.round_green_1::before {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* border: 1px solid rebeccapurple; */
  position: absolute;
  right: -80px;
  top: -10px;
  background: rgb(172, 228, 125);
  background: linear-gradient(
    90deg,
    rgba(172, 228, 125, 1) 7%,
    rgba(106, 188, 81, 1) 15%,
    rgba(107, 221, 61, 1) 42%,
    rgba(44, 198, 111, 1) 76%,
    rgba(26, 194, 26, 1) 100%
  );
}

.round_green_2::after {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 50%;

  position: absolute;
  right: -25px;
  bottom: -70px;
  background: rgb(172, 228, 125);
  background: linear-gradient(
    90deg,
    rgba(172, 228, 125, 1) 7%,
    rgba(106, 188, 81, 1) 15%,
    rgba(107, 221, 61, 1) 42%,
    rgba(44, 198, 111, 1) 76%,
    rgba(26, 194, 26, 1) 100%
  );
}
::after,
::before {
  opacity: 0.5;
}

:hover::before,
:hover::after {
  transition: all 2s;
  background: rgb(231, 139, 219);
  opacity: 1;
}
